mat-card {
  position: fixed;
  top: 30vh;
  left: 20vh;
  width: 60vw;
  z-index: 100;
}

form {
  display: flex;
  flex-direction: column;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

mat-select {
  margin: 1rem 0 2rem 0;
}

mat-radio-button {
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
